@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");

* {
  margin: 0px;
}
body {
  background-color: #176b87;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #001c30;
  margin: 0px;
  overflow: hidden;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #001c30;
}
.footer p {
  margin-top: 20px;
  color: #dafffb;
  padding: auto;
}
ul {
  margin-right: 100px;
}
ul li {
  display: inline-block;
  margin: 40px;
}
ul li a {
  text-decoration: none;
  color: #dafffb;
  font-family: "Barlow", sans-serif;
  text-shadow: 15px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 10.42px;
}
ul li a:hover {
  color: rgb(229, 229, 229);
}
/* .container{

   
} */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#weatherReport {
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  color: #001c30;
}
.form-container form label {
  color: #dafffb;
  font-family: Barlow;
  font-size: 45px;
  font-style: bold;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 9.45px;
}
.form-container form input {
  border-radius: 2px;
  border: none;
  margin-top: 10px;
  width: 500px;
  height: 35px;
  flex-shrink: 0;
}
.form-container form button {
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  width: px;
  width: 45px;
  height: 45px;
  background-color: #001c30;
  color: #dafffb;
  font-family: Barlow;
  font-size: 20px;
  font-style: bold;
  font-weight: 900;
  flex-shrink: 0;
}
::placeholder,
#cityNamePlaceholder {
  font-family: Barlow;
  font-size: 20px;
  font-style: bold;
  font-weight: 900;
  flex-shrink: 0;
}

.weatherData {
  width: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: auto;
}
.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  height: 200px;
  width: 400px;
}
/* Weather Description */
.weather-item h1 {
  color: #dafffb;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  letter-spacing: 2.42px;
  text-shadow: 3px 3px 3px rgb(18, 18, 18);
  text-decoration: none;
  font-size: x-large;
  font-style: normal;
  font-weight: 300;
}
#cityName {
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  text-align: center;
  letter-spacing: 2.42px;
  color: #001c30ea;
}
.weather-item h2 {
  color: #dafffb;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-size: 50px;
  letter-spacing: 2.42px;
  text-shadow: 5px 5px 4px rgb(0, 0, 0);
}
.weather-item p {
  color: #dafffb;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  letter-spacing: 2.42px;
}
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.errorContainer h1 {
  color: #dafffb;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  letter-spacing: 2.42px;
  text-shadow: 3px 3px 3px rgb(18, 18, 18);
  text-decoration: none;
  font-size: x-large;
  font-style: normal;
  font-weight: 300;
}
.errorContainer button {
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  width: px;
  width: 100px;
  height: 35px;
  background-color: #001c30;
  color: #dafffb;
  font-family: Barlow;
  font-size: 20px;
  font-style: bold;
  font-weight: 900;
  flex-shrink: 0;
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
   .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #001c30;
        margin: 0px;
        overflow: hidden;
      }
  
  #weatherReport {
    font-size: 30px;
  }
  .form-container form input {
    display: block;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
    width: 250px;
    height: 35px;
    flex-shrink: 0;
  }
  .form-container form label {
    font-size: 15px;
  }

  .form-container form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50px;
  }

  .weatherData {
    width: 70%;
    margin-left: auto;
  }
  .weather-item {
    height: 200px;
    width: 30%;
  }
  .weather-item h1 {
    font-size: 10px;
  }
  
  .weather-item h2 {
    font-size: 25px;
  }
  .errorContainer h1 {
    padding: 20px;
    font-size: 15px;
   
  }
}
